.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
                  to bottom,
                  rgb(255, 255, 255) 0%,
                  rgb(255, 255, 255) 100%
  );
  background-size: contain;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: inherit;
    form {
      width: 300px;
      height: 300px;
      padding: 30px;
      border-radius: 5px;
      background-color: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      label {
        color:#1a202c;
      }

      input {
        height: 57px;
        border-radius: 5px;
        background-color: #ffffff;
        color: #0a0a0a;
        padding-left: 12px;

        &::placeholder {
          color: #ffffff;
        }
      }

      button {
        height: 40px;
        border-radius: 5px;
        background-color: #0c0c0c;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }

      span {
        color: lightgray;
        b {
          color: white;
        }
      }
    }
  }
}